/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: "Poppins", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
}

nav {
  display: flex;
  flex-basis: 18%;
  justify-content: space-between;
}
.left-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 23%;
}
header a {
  text-decoration: none;
  color: #1c64f4;
  font-weight: 500;
}
::placeholder {
  color: #1c64f4;
}
:-ms-input-placeholder {
  color: #1c64f4;
}
header form {
  position: relative;
}
header input {
  width: 95%;
  padding: 0.6rem 0.5rem;
  background: rgb(242, 242, 242);
  border: none;
}
.left-container img {
  position: absolute;
  width: 10%;
  right: 10%;
  top: 20%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
}
.container img {
  width: 45%;
  margin-right: 5%;
}
.hero-text {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
}
.hero-text h1 {
  margin: 0;
  padding: 0;
  font-size: 3.5rem;
  font-family: serif;
  font-weight: 500;
  transform: scaleX(1.05);
  margin-left: 2%;
}
.hero-text p {
  line-height: 2;
}
.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.7rem 3.2rem;
  background-color: #1c64f4;
  margin-right: 1.5%;
  border-radius: 4px;
}

/* SECOND SECTION STYLING */
.second {
  background: url(../img/Mediamodifier-Design-Template.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 100vh;
}
.second h2 {
  text-align: center;
  padding-top: 8%;
  font-family: serif;
  font-size: 2.8rem;
  font-weight: 500;
}
.second > a {
  scroll-behavior: smooth;
}
.second > a > img {
  position: absolute;
  top: -3.5%;
  left: 46%;
  width: 6%;
}
.second-container {
  width: 80%;
  margin: auto auto;
  display: flex;
}
.second-container > * {
  flex: 1;
  padding: 6% 2.5%;
}
.second-container > section > * {
  text-align: center;
}
.second-container img {
  margin-left: 26%;
}
.second-container p {
  line-height: 2;
  font-size: 0.9rem;
}
.second h3 {
  font-family: serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.second-container .little-right {
  margin-left: 30%;
}

/* THIRD SECTION STYLING */
.third {
  margin-top: 5%;
  margin-bottom: 5%;
}
.third-container {
  width: 80%;
  margin: auto auto;
  display: flex;
}
.third-container > * {
  flex: 1;
}
.third-container > img {
  width: 55%;
  padding-right: 5%;
}
.third-text {
  padding-left: 5%;
}
.third-text > h4 {
  margin: 0;
  font-weight: normal;
  color: rgb(157, 157, 157);
  letter-spacing: 1px;
}
.third-text > h3 {
  font-size: 3.1rem;
  font-family: serif;
  font-weight: normal;
  margin-top: 5%;
  margin-bottom: 3%;
  line-height: 1;
}
.third-text > span {
  font-size: 0.7rem;
  color: rgb(146, 146, 146);
}
.third-text > p {
  width: 90%;
  line-height: 1.6;
  text-align: justify;
  text-justify: inter-cluster;
  color: rgb(65, 65, 65);
  margin: 6% 0;
  margin-bottom: 15%;
}
.third-text > a {
  text-decoration: none;
  padding: 1rem 2.2rem;
  color: white;
  background-color: #1c64f4;
  border-radius: 6px;
  font-weight: 500;
}

/* FOURTH SECTION STYLING */

.fourth {
  margin-top: 10%;
  margin-bottom: 5%;
}
.fourth-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto auto;
}
.fourth-container > * {
  flex: 2;
}
.fourth-container > img {
  width: 50%;
  padding-left: 10%;
  flex: 3;
}

.fourth-text h4 {
  margin-top: 20%;
  font-weight: normal;
  color: rgb(157, 157, 157);
  letter-spacing: 1px;
}
.fourth-text > h3 {
  font-size: 3rem;
  font-family: serif;
  font-weight: normal;
  margin-top: 9%;
  margin-bottom: 8%;
  line-height: 1;
}
.fourth-text > p {
  line-height: 1.6;
  color: rgb(65, 65, 65);
  margin: 5% 0;
  margin-bottom: 15%;
}
.fourth-text > a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: white;
  background-color: #1c64f4;
  border-radius: 6px;
  font-weight: 500;
}

/* FIFTH SECTION STYLING */
.fifth {
  background: url(../img/Mediamodifier-Design-Template.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  height: 100vh;
}
.fifth-container {
  width: 70%;
  margin: auto auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fifth-container > p {
  font-family: serif;
  font-size: 2.3rem;
  margin-bottom: 3%;
}
.student {
  width: 100%;
  display: flex;
  justify-content: end;
}
.student > img {
  width: 13%;
  margin-left: 3%;
}
.student-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
.student-text > span {
  letter-spacing: 1px;
}
.student-text > span + span {
  letter-spacing: 0;
  font-style: italic;
  color: grey;
}
footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
